.checkbox {
}
.checkbox.validation-error .checkbox__label::before {
  box-shadow: 0 0 15px red;
}
.checkbox__input {
  display: none;

  &:checked + .checkbox__label::after {
    transform: scale(1);
  }
}

.checkbox__label {
  font-size: 16px;
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  &::before {
    content: '';
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 4px;
    margin: 0px 10px 0px 0px;
  }

  &::after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: #1d65a6;
    border-radius: 4px;
    transform: scale(0);
    transition: transform 0.3s ease-in-out 0s;
  }

  & a {
    color: #1a6417;
  }
}